{% extends 'normal-page.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ project.name }} – eksporti kiel CSV{% endblock %}
{% block pagetitle %}<a href="{% url 'project' project.pk %}">{{ project.name }}</a> – eksporti kiel CSV{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb main-breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'projects' %}">Ĉefpaĝo</a></li>
		<li class="breadcrumb-item"><a href="{% url 'project' project.pk %}">{{ project.name }}</a></li>
		<li class="breadcrumb-item"><a href="{% url 'import_export' project.pk %}">Importi/eksporti</a></li>
		<li class="breadcrumb-item active" aria-current="page">Eksporti kiel CSV</li>
	</ol>
</nav>
<form action="" method="post">
	{% csrf_token %}
	{{ form|crispy }}
	<input type="submit" value="Eksporti kiel CSV" class="btn btn-primary">
</form>
{% endblock %}

