{% extends 'normal-page.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ project.name }} – importi JSON{% endblock %}
{% block pagetitle %}<a href="{% url 'project' project.pk %}">{{ project.name }}</a> – importi JSON{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb main-breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'projects' %}">Ĉefpaĝo</a></li>
		<li class="breadcrumb-item"><a href="{% url 'project' project.pk %}">{{ project.name }}</a></li>
		<li class="breadcrumb-item"><a href="{% url 'import_export' project.pk %}">Importi/eksporti</a></li>
		<li class="breadcrumb-item active" aria-current="page">Importi JSON</li>
	</ol>
</nav>
<p>La JSON-dosiero devas esti en la sama formato, kiel <a href="{% url 'export_json' project.pk %}">eksportitaj dosieroj</a>.</p>
<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form|crispy }}
	<input type="submit" value="Importi JSON" class="btn btn-primary">
</form>
{% endblock %}

