{% extends 'normal-page.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ project.name }} – importi CSV{% endblock %}
{% block pagetitle %}<a href="{% url 'project' project.pk %}">{{ project.name }}</a> – importi CSV{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb main-breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'projects' %}">Ĉefpaĝo</a></li>
		<li class="breadcrumb-item"><a href="{% url 'project' project.pk %}">{{ project.name }}</a></li>
		<li class="breadcrumb-item"><a href="{% url 'import_export' project.pk %}">Importi/eksporti</a></li>
		<li class="breadcrumb-item active" aria-current="page">Importi CSV</li>
	</ol>
</nav>
<p>La CSV-dosiero devas havi kolumnojn kun la jenaj titoloj:</p>
<ul>
	<li>devigaj kampoj: <code>path</code>, <code>name</code>,</li>
	<li>nedevigaj kampoj: <code>context</code>, <code>pluralized</code>, kodoj de lingvoj.</li>
</ul>
<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form|crispy }}
	<input type="submit" value="Importi CSV" class="btn btn-primary">
</form>
{% endblock %}

