{% load i18n traduko_tags %}
<p>{% blocktranslate asvar greeting %}emails#greeting{% endblocktranslate %}{% format_translation greeting username %}</p>
<p>{% blocktranslate asvar confirmation %}emails/registration#confirmation{% endblocktranslate %}{% format_translation confirmation url %}</p>
<p>{% blocktranslate asvar instructions %}emails/registration#instructions{% endblocktranslate %}{% format_translation instructions instructions_url %}</p>
<p>{% translate 'emails#closing' %}</p>
<p>{% translate 'emails#signature' %}</p>