{% load i18n traduko_tags %}
<p>{% blocktranslate asvar greeting %}emails#greeting{% endblocktranslate %}{% format_translation greeting admin.username %}</p>
{% with lang=language.name|add:" ("|add:language.code|add:")" %}
<p>{% blocktranslate asvar new_request %}emails/request#new-request{% endblocktranslate %}{% format_translation new_request translator_request.user.username project.name lang %}</p>
{% endwith %}
<blockquote>{{ translator_request.explanation }}</blockquote>
<p>{% blocktranslate asvar accept_link %}emails/request#accept-link{% endblocktranslate %}{% format_translation accept_link url %}</p>
<p>{% translate 'emails#closing' %}</p>
<p>{% translate 'emails#signature' %}</p>
<p>{% blocktranslate asvar opt_out %}emails#opt-out{% endblocktranslate %}{% format_translation opt_out settings_url %}</p>