{% load i18n traduko_tags %}
<p>{% blocktranslate asvar greeting %}emails#greeting{% endblocktranslate %}{% format_translation greeting translator.username %}</p>
{% with lang=language.name|add:" ("|add:language.code|add:")" %}
<p>{% blocktranslate asvar rejected %}emails/request#rejected{% endblocktranslate %}{% format_translation rejected project.name lang %}</p>
{% endwith %}
<p>{% translate 'emails#contact-us' %}</p>
<p>{% translate 'emails#closing' %}</p>
<p>{% translate 'emails#signature' %}</p>