{% extends 'normal-page.html' %}
{% load crispy_forms_tags i18n traduko_tags %}
{% block title %}{% translate 'structure#sign-up' %}{% endblock %}
{% block pagetitle %}{% translate 'structure#sign-up' %}{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb main-breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'projects' %}">{% translate 'structure#home' %}</a></li>
		<li class="breadcrumb-item active" aria-current="page">{% translate 'structure#sign-up' %}</li>
	</ol>
</nav>
<form method="post" class="small-form">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="{% translate 'structure#sign-up' %}" class="btn btn-primary">
</form>
{% endblock %}