{% extends 'normal-page.html' %}
{% block title %}{{ project.name }} – importi/eksporti{% endblock %}
{% block pagetitle %}<a href="{% url 'project' project.pk %}">{{ project.name }}</a> – importi/eksporti{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb main-breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'projects' %}">Ĉefpaĝo</a></li>
		<li class="breadcrumb-item"><a href="{% url 'project' project.pk %}">{{ project.name }}</a></li>
		<li class="breadcrumb-item active" aria-current="page">Importi/eksporti</li>
	</ol>
</nav>
<div class="row">
	<div class="col-12 col-sm-6">
		<h2>Importi</h2>
		<ul>
			<li><a href="{% url 'import_json' project.pk %}">Importi JSON</a></li>
			<li><a href="{% url 'import_csv' project.pk %}">Importi CSV</a></li>
			<li>Importi PO/POT</li>
			<li>Importi el alia projekto</li>
		</ul>
	</div>
	<div class="col-12 col-sm-6">
		<h2>Eksporti</h2>
		<ul>
			<li><a href="{% url 'export_json' project.pk %}">Eksporti kiel JSON</a></li>
			<li><a href="{% url 'export_csv' project.pk %}">Eksporti kiel CSV</a></li>
			<li><a href="{% url 'export_po' project.pk %}">Eksporti kiel PO/MO</a></li>
		</ul>
	</div>
</div>
{% endblock %}

