{% extends 'normal-page.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ project.name }} – importi PO{% endblock %}
{% block pagetitle %}<a href="{% url 'project' project.pk %}">{{ project.name }}</a> – importi PO{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb main-breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'projects' %}">Ĉefpaĝo</a></li>
		<li class="breadcrumb-item"><a href="{% url 'project' project.pk %}">{{ project.name }}</a></li>
		<li class="breadcrumb-item"><a href="{% url 'import_export' project.pk %}">Importi/eksporti</a></li>
		<li class="breadcrumb-item active" aria-current="page">Importi PO</li>
	</ol>
</nav>
<div class="alert alert-info">
	Laboro en ĉi tiu tradukejo kun PO-dosieroj plej bone funkcias, se <code>msgid</code> estas ŝlosilo de ĉeno (praktike: <code>path#name</code>), kaj ne teksto en la fontolingvo.
</div>
<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form|crispy }}
	<input type="submit" value="Importi PO" class="btn btn-primary">
</form>
{% endblock %}

