{% extends 'normal-page.html' %}
{% load i18n traduko_tags %}
{% block title %}{% translate 'structure#contact' %}{% endblock %}
{% block pagetitle %}{% translate 'structure#contact' %}{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb main-breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'projects' %}">{% translate 'structure#home' %}</a></li>
		<li class="breadcrumb-item active" aria-current="page">{% translate 'structure#contact' %}</li>
	</ol>
</nav>
<p>{% blocktranslate asvar contact1 %}pages/contact#contact1{% endblocktranslate %}{% format_translation contact1 "https://ikso.net/" %}</p>
{% with '<a href="mailto:'|add:DEFAULT_FROM_EMAIL|add:'">'|add:DEFAULT_FROM_EMAIL|add:'</a>' as email %}
<p>{% blocktranslate asvar contact2 %}pages/contact#contact2{% endblocktranslate %}{% format_translation contact2 email %}</p>
{% endwith %}
{% endblock %}
