{% extends 'normal-page.html' %}
{% load static i18n traduko_tags %}
{% block title %}{% translate 'structure#instructions' %}{% endblock %}
{% block pagetitle %}{% translate 'structure#instructions' %}{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb main-breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'projects' %}">{% translate 'structure#home' %}</a></li>
		<li class="breadcrumb-item active" aria-current="page">{% translate 'structure#instructions' %}</li>
	</ol>
</nav>

<p>{% blocktranslate asvar intro1 trimmed %}pages/instructions#intro1{% endblocktranslate %}{% format_translation intro1 'https://ikso.net/' %}</p>
<p>{% translate 'pages/instructions#intro2' %}</p>
{% url 'register' as register_url %}
<p>{% blocktranslate asvar intro3 trimmed %}pages/instructions#intro3{% endblocktranslate %}{% format_translation intro3 register_url %}</p>

<h2>{% translate 'pages/projects#projects' %}</h2>
<p>{% translate 'pages/instructions#projects1' %}</p>

<h3>{% translate 'pages/instructions#projects-page-title' %}</h3>
<div class="text-center">
	<figure class="figure">
		<img src="{% static 'traduko/img/instructions/project.png' %}" class="figure-img img-fluid rounded img-thumbnail" alt="{% translate 'pages/instructions#projects-page-caption' %}">
		<figcaption class="figure-caption">{% translate 'pages/instructions#projects-page-caption' %}</figcaption>
	</figure>
</div>

<p>{% translate 'pages/instructions#projects-page1' %}</p>
<p>{% translate 'pages/instructions#projects-page2' %}</p>

<h3>{% translate 'pages/instructions#projects-rights-title' %}</h3>
<p>{% translate 'pages/instructions#projects-rights1' %}</p>
<div class="text-center">
	<figure class="figure">
		<img src="{% static 'traduko/img/instructions/ask_permission.png' %}" class="figure-img img-fluid rounded img-thumbnail" alt="{% translate 'pages/instructions#projects-rights-caption' %}">
		<figcaption class="figure-caption">{% translate 'pages/instructions#projects-rights-caption' %}</figcaption>
	</figure>
</div>
{% url 'contact' as contact_url %}
<p>{% blocktranslate asvar rights2 trimmed %}pages/instructions#projects-rights2{% endblocktranslate %}{% format_translation rights2 contact_url %}</p>

<h2>{% translate 'pages/instructions#interface-title' %}</h2>
<p>{% translate 'pages/instructions#interface1' %}</p>

<div class="text-center">
	<figure class="figure">
		<img src="{% static 'traduko/img/instructions/translation_interface.png' %}" class="figure-img img-fluid rounded img-thumbnail" alt="{% translate 'pages/instructions#interface-caption' %}">
		<figcaption class="figure-caption">{% translate 'pages/instructions#interface-caption' %}</figcaption>
	</figure>
</div>

<p>{% translate 'pages/instructions#interface2' %}</p>
<ul>
	<li>{% translate 'pages/instructions#interface2-1' %}</li>
	<li>{% translate 'pages/instructions#interface2-2' %}</li>
	<li>{% translate 'pages/instructions#interface2-3' %}</li>
	<li>{% translate 'pages/instructions#interface2-4' %}</li>
	<li>{% translate 'pages/instructions#interface2-5' %}</li>
</ul>

<p>{% blocktranslate asvar interface3 trimmed %}pages/instructions#interface3{% endblocktranslate %}{% format_translation interface3 '<strong>' '</strong>' %}</p>
<p>{% translate 'pages/instructions#interface4' %}</p>
<p>{% translate 'pages/instructions#interface5' %}</p>

<div class="text-center">
	<figure class="figure">
		<img src="{% static 'traduko/img/instructions/string_translation.png' %}" class="figure-img img-fluid rounded img-thumbnail" alt="{% translate 'pages/instructions#interface-caption2' %}">
		<figcaption class="figure-caption">{% translate 'pages/instructions#interface-caption2' %}</figcaption>
	</figure>
</div>

<p>{% translate 'pages/instructions#interface6' %}</p>
<ol>
	<li>{% translate 'pages/instructions#interface6-1' %}</li>
	<li>{% translate 'pages/instructions#interface6-2' %}</li>
	<li>{% translate 'pages/instructions#interface6-3' %}</li>
	<li>{% translate 'pages/instructions#interface6-4' %}</li>
	<li>{% translate 'pages/instructions#interface6-5' %}</li>
	<li>{% translate 'pages/instructions#interface6-6' %}</li>
	<li>{% translate 'pages/instructions#interface6-7' %}</li>
	<li>{% translate 'pages/instructions#interface6-8' %}</li>
</ol>

<h3>{% translate 'pages/instructions#state-title' %}</h3>
<p>{% translate 'pages/instructions#state1' %}</p>

<h3>{% translate 'pages/instructions#comments-title' %}</h3>
{% url 'user_settings' as settings_url %}
<p>{% blocktranslate asvar comments1 trimmed %}pages/instructions#comments1{% endblocktranslate %}{% format_translation comments1 settings_url %}</p>
<div class="text-center">
	<figure class="figure">
		<img src="{% static 'traduko/img/instructions/comments.png' %}" class="figure-img img-fluid rounded img-thumbnail" alt="{% translate 'pages/instructions#comments-caption' %}">
		<figcaption class="figure-caption">{% translate 'pages/instructions#comments-caption' %}</figcaption>
	</figure>
</div>

<h3>{% translate 'pages/instructions#suggestions-title' %}</h3>
<p>{% translate 'pages/instructions#suggestions1' %}</p>
<div class="text-center">
	<figure class="figure">
		<img src="{% static 'traduko/img/instructions/suggested_translations.png' %}" class="figure-img img-fluid rounded img-thumbnail" alt="{% translate 'pages/instructions#suggestions-caption' %}">
		<figcaption class="figure-caption">{% translate 'pages/instructions#suggestions-caption' %}</figcaption>
	</figure>
</div>

<h3>{% translate 'pages/instructions#search-sort-title' %}</h3>
<p>{% translate 'pages/instructions#search-sort1' %}</p>
<ul>
	<li>{% translate 'pages/instructions#search-sort1-1' %}</li>
	<li>{% translate 'pages/instructions#search-sort1-2' %}</li>
	<li>{% translate 'pages/instructions#search-sort1-3' %}</li>
</ul>

<h3>{% translate 'pages/instructions#symbols-title' %}</h3>
<div class="text-center">
	<figure class="figure">
		<img src="{% static 'traduko/img/instructions/special_symbols.png' %}" class="figure-img img-fluid rounded img-thumbnail" alt="{% translate 'pages/instructions#symbols-caption' %}">
		<figcaption class="figure-caption">{% translate 'pages/instructions#symbols-caption' %}</figcaption>
	</figure>
</div>
<p>{% translate 'pages/instructions#symbols1' %}</p>
<p>{% translate 'pages/instructions#symbols2' %}</p>
<ul>
	<li><code>{1}</code>…<code>{/1}</code>,</li>
	<li><code>{0}</code>,</li>
	<li><code>{number_of_users}</code>,</li>
	<li><code>%d</code>,</li>
	<li><code>%(username)s</code>…</li>
</ul>

<p>{% blocktranslate asvar symbols3 trimmed %}pages/instructions#symbols3{% endblocktranslate %}{% format_translation symbols3 "<code>''</code>" "<code>'''</code>" %}</p>

<h3>{% translate 'pages/instructions#plural-title' %}</h3>
<p>{% translate 'pages/instructions#plural1' %}</p>
<p>{% translate 'pages/instructions#plural2' %}</p>

<div class="text-center">
	<figure class="figure">
		<img src="{% static 'traduko/img/instructions/plural_string.png' %}" class="figure-img img-fluid rounded img-thumbnail" alt="{% translate 'pages/instructions#plural-caption' %}">
		<figcaption class="figure-caption">{% translate 'pages/instructions#plural-caption' %}</figcaption>
	</figure>
</div>

<p>{% blocktranslate asvar plural3 trimmed %}pages/instructions#plural3{% endblocktranslate %}{% format_translation plural3 "<code>{n}</code>" %}</p>
<p>{% translate 'pages/instructions#plural4' %}</p>

{% endblock %}
