{% extends 'normal-page.html' %}

{% block title %}Bonvenon{% endblock %}
{% block pagetitle %}Bonvenon{% endblock %}

{% block content %}
<section class="jumbotron">
	<h2 class="mt-0 display-4">Bonvenon al la nova tradukejo de E@I!</h2>
	<p class="lead">Pli uzant-amika, pli efika kaj pli bela: ni reprogramis la tradukejon per modernaj teknologioj.</p>
	<p>La malnova tradukejo daŭre estas <a href="https://tradukejo.ikso.net/" target="_blank">alirebla ĉi tie</a>, sed tradukaj projektoj estos iom post iom migrataj al la nova tradukejo.</p>
	{% if not user.is_authenticated %}
		<a class="btn btn-primary btn-lg mr-2" href="{% url 'register' %}">Krei konton</a>
	{% endif %}
	<a class="btn btn-secondary btn-lg" href="{% url 'instructions' %}">Legi la instrukciojn</a>
</section>

<h2>Projektoj</h2>
<div class="card mt-4">
	<ul class="list-group list-group-flush">
		{% for project in projects %}
		<li class="list-group-item project{% if not project.visible %} hidden{% endif %}">
			<div class="row d-flex align-items-center">
				<div class="d-none d-sm-block col-3 col-lg-1">
					{% if project.image %}
						<a href="{% url 'project' project.pk %}"><img src="{{ project.image.url }}" alt="" class="img-fluid"></a>
					{% endif %}
				</div>
				<div class="col">
					<h3>
						{% if not project.visible %}<i class="fas fa-eye-slash mr-1" title="Nevidebla projekto"></i>{% endif %}
						{% if project.locked %}<i class="fas fa-lock mr-1" title="Ŝlosita projekto"></i>{% endif %}
						<a href="{% url 'project' project.pk %}">{{ project.name }}</a>
					</h3>
					{% if project.url %}
					<a href="{{ project.url }}" target="_blank">{{ project.url }}</a> –
					{% endif %}
					<span lang="{{ project.source_language.code }}">{{ project.source_language.name }}</span>
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>

{% endblock %}