{% extends 'normal-page.html' %}
{% load i18n traduko_tags %}

{% block title %}{% translate 'structure#welcome' %}{% endblock %}
{% block pagetitle %}{% translate 'structure#welcome' %}{% endblock %}

{% block content %}
<section class="jumbotron">
	<h2 class="mt-0 display-4">{% translate 'pages/projects#welcome' %}</h2>
	<p class="lead">{% translate 'pages/projects#lead1' %}</p>
	<p>{% blocktranslate asvar lead2 %}pages/projects#lead2{% endblocktranslate %}{% format_translation lead2 "https://tradukejo.ikso.net/" %}</p>
	{% if not user.is_authenticated %}
		<a class="btn btn-primary btn-lg mr-2" href="{% url 'register' %}">{% translate 'structure#sign-up' %}</a>
	{% endif %}
	<a class="btn btn-secondary btn-lg" href="{% url 'instructions' %}">{% translate 'pages/projects#read-instructions' %}</a>
</section>

<h2>{% translate 'pages/projects#projects' %}</h2>
<div class="card mt-4">
	<ul class="list-group list-group-flush">
		{% for project in projects %}
		<li class="list-group-item project{% if not project.visible %} hidden{% endif %}">
			<div class="row d-flex align-items-center">
				<div class="d-none d-sm-block col-3 col-lg-1">
					{% if project.image %}
						<a href="{% url 'project' project.pk %}"><img src="{{ project.image.url }}" alt="" class="img-fluid"></a>
					{% endif %}
				</div>
				<div class="col">
					<h3>
						{% if not project.visible %}<i class="fas fa-eye-slash mr-1" title="{% translate 'pages/projects#hidden' %}"></i>{% endif %}
						{% if project.locked %}<i class="fas fa-lock mr-1" title="{% translate 'pages/projects#locked' %}"></i>{% endif %}
						<a href="{% url 'project' project.pk %}">{{ project.name }}</a>
					</h3>
					{% if project.url %}
					<a href="{{ project.url }}" target="_blank">{{ project.url }}</a> –
					{% endif %}
					<span lang="{{ project.source_language.code }}">{{ project.source_language.name }}</span>
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>

{% endblock %}