{% extends 'base.html' %}
{% load static %}
{% block title %}{{ project.name }}{% endblock %}

{% block js %}
<script src="{% static 'traduko/js/project.js' %}"></script>
{% endblock %}

{% block content %}
<h1>{{ project.name }}</h1>
{% if project.url %}
	<p><a href="{{ project.url }}">{{ project.url }}</a></p>
{% endif %}
<p>Fontolingvo: {{ project.source_language.name }}</p>
<p>
	Bezonataj lingvoj:
	{% for l in project.needed_languages.all|dictsort:"name" %}<span lang="{{ l.code }}">{{ l.name }}</span>{% if not forloop.last %}, {% endif %}{% empty %}ĉiuj eblaj{% endfor %}.
</p>
<p>{{ project.description }}</p>
<p><a href="{% url 'translate' project.pk project.source_language.code %}" class="btn btn-secondary">Redakti la tekstojn</a></p>

{% if my_languages_with_stats %}
<h2>{% if is_project_admin %}Lingvoj{% else %}Miaj lingvoj{% endif %}</h2>
<div class="card my-4">
	{% include 'traduko/project/language-version-list.html' with language_versions=my_languages_with_stats can_translate=True %}
</div>
{% endif %}

{% if available_languages_with_stats %}
<h2>Aliaj lingvoj</h2>
<div class="card my-4">
	{% include 'traduko/project/language-version-list.html' with language_versions=available_languages_with_stats can_translate=False %}
</div>
{% endif %}

{% if addible_languages %}
<h2>Traduki al alia lingvo</h2>
<select name="addLanguage" id="addLanguage" class="form-control">
	<option>Elektu lingvon…</option>
	{% for l in addible_languages %}
		<option data-code="{{ l.code }}" data-language="{{ l.name }}" lang="{{ l.code }}" dir="{{ l.direction }}">{{ l.code }} – {{ l.name }}</option>
	{% endfor %}
</select>
Ĉu vi volas traduki al lingvo, kiu ne estas en ĉi tiu listo? Bonvolu kontakti nin. (TODO)
{% endif %}

{% if not user_is_project_admin %}
<div class="modal fade" id="translatorRequestModal" tabindex="-1" aria-labelledby="translatorRequestModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="{% url 'request_translator_permission' project.pk %}" method="post">
				<div class="modal-header">
					<h5 class="modal-title" id="translatorRequestModalLabel">Peti permeson por traduki</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Fermi">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p id="requestResult"></p>
					<div class="form-group" id="requestFields">
						{% csrf_token %}
						<p>Vi petas permeson traduki al la lingvo: <strong><span id="requestLanguageName">xx</span> (<span id="requestLanguageCode">xx</span>)</strong>.</p>
						<label for="explanation">Bonvolu klarigi mallonge, kiu vi estas:</label>
						<textarea name="explanation" id="explanation" rows="6" class="form-control" required></textarea>
					</div>
					<input type="hidden" name="language" id="requestLanguageCodeInput">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermi</button>
					<input type="submit" class="btn btn-primary" value="Sendi" id="requestSubmit">
				</div>
			</form>
		</div>
	</div>
</div>
{% endif %}

{% endblock %}

