{% extends 'base.html' %}

{% block title %}Projektoj{% endblock %}

{% block content %}
Bonvenon al la tradukejo de <a href="https://ikso.net">E@I</a>!

<h1 class="mt-3">Projektoj</h1>
<div class="card mt-4">
	<ul class="list-group list-group-flush">
		{% for project in projects %}
		<li class="list-group-item project{% if not project.visible %} hidden{% endif %}">
			<div class="row d-flex align-items-center">
				<div class="d-none d-sm-block col-3 col-lg-2">
					{% if project.image %}
						<a href="{% url 'project' project.pk %}"><img src="{{ project.image.url }}" alt="" class="img-fluid"></a>
					{% endif %}
				</div>
				<div class="col">
					<h3>
						{% if not project.visible %}<i class="fas fa-eye-slash mr-1" title="Nevidebla projekto"></i>{% endif %}
						{% if project.locked %}<i class="fas fa-lock mr-1" title="Ŝlosita projekto"></i>{% endif %}
						<a href="{% url 'project' project.pk %}">{{ project.name }}</a>
					</h3>
					{% if project.url %}
					<a href="{{ project.url }}" target="_blank">{{ project.url }}</a> –
					{% endif %}
					<span lang="{{ project.source_language.code }}">{{ project.source_language.name }}</span>
					<div class="mt-1">{{ project.description }}</div>
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>

{% endblock %}