{% extends 'wide-page.html' %}
{% load static %}
{% load traduko_tags %}
{% block title %}{{ project.name }}{% endblock %}
{% block pagetitle %}
	{% if not project.visible %}<i class="fas fa-eye-slash mr-1" title="Nevidebla projekto"></i>{% endif %}
	{% if project.locked %}<i class="fas fa-lock mr-1" title="Ŝlosita projekto"></i>{% endif %}
	{{ project.name }}
{% endblock %}

{% block js %}
<script src="{% static 'traduko/js/project.js' %}"></script>
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb main-breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'projects' %}">Ĉefpaĝo</a></li>
		<li class="breadcrumb-item active" aria-current="page">{{ project.name }}</li>
	</ol>
</nav>

{% if project.image %}
<div class="project-logo text-center float-sm-right ml-sm-3">
	<img src="{{ project.image.url }}" alt="" class="img-fluid d-block mb-2">
</div>
{% endif %}
{% if project.description %}
	<p>{{ project.description }}</p>
{% endif %}

<ul>
	{% if project.url %}
		<li>Adreso: <a href="{{ project.url }}">{{ project.url }}</a></li>
{% endif %}
	<li>Fontolingvo: {{ project.source_language.name }}</li>
	<li>Ĉenoj: {{ project.strings }}</li>
	<li>Vortoj: {{ project.words }}</li>
	<li>Signoj: {{ project.characters }}</li>
	<li>
		Bezonataj lingvoj:
		{% for l in project.needed_languages.all|dictsort:"name" %}<span lang="{{ l.code }}">{{ l.name }}</span>{% if not forloop.last %}, {% endif %}{% empty %}ĉiuj eblaj{% endfor %}.
	</li>
</ul>

{% if is_project_admin %}
<div class="card mb-4 project-admin-card">
	<div class="card-body alert alert-dark m-0">
		<h5 class="card-title">Administrado</h5>
		<p class="text-center card-text">
			{% if user.is_superuser %}
				<a href="{% url 'admin:traduko_project_change' project.pk %}" class="btn btn-danger">Redakti en la administrejo</a>
			{% endif %}
			<a href="{% url 'edit_project' project.pk %}" class="btn btn-primary">Redakti la projekton</a>
			<a href="{% url 'translate' project.pk project.source_language.code %}" class="btn btn-success">Redakti la tekstojn</a>
			{% if translator_request_count > 0 %}
				<a href="{% url 'translator_request_list' project.pk %}" class="btn btn-warning"><strong>Petoj por traduki ({{ translator_request_count }})</strong></a>
			{% endif %}
			{% if show_translator_notifications_button %}
				<a href="{% url 'translator_notifications' project.pk %}" class="btn btn-primary">Sciigi la tradukantojn pri novaj tekstoj</a>
			{% endif %}
			<a href="{% url 'import_export' project.pk %}" class="btn btn-primary">Importi/eksporti</a>
		</p>
	</div>
</div>
{% endif %}

<div class="row">
	<div class="col-12 col-md-8 col-lg-9 col-xl-10">
		{% if my_languages_with_stats %}
		<h2>{% if is_project_admin %}Lingvoj{% else %}Miaj lingvoj{% endif %}</h2>
		<div class="card my-4">
			{% include 'traduko/project/language-version-list.html' with language_versions=my_languages_with_stats can_translate=True %}
		</div>
		{% endif %}

		{% if available_languages_with_stats %}
		<h2>Aliaj lingvoj</h2>
		<div class="card my-4">
			{% include 'traduko/project/language-version-list.html' with language_versions=available_languages_with_stats can_translate=False %}
		</div>
		{% endif %}

		{% if addible_languages and not project.locked or addible_languages and is_project_admin %}
		<h2>Traduki al alia lingvo</h2>
		<select name="addLanguage" id="addLanguage" class="form-control">
			<option>Elektu lingvon…</option>
			{% for l in addible_languages %}
				<option lang="{{ l.code }}" dir="{{ l.direction }}"{% if is_project_admin %} data-url="{% url 'add_language_version' project.pk l.code %}"{% else %} data-code="{{ l.code }}" data-language="{{ l.name }}"{% endif %}>{{ l.code }} – {{ l.name }}</option>
			{% endfor %}
		</select>
		Ĉu vi volas traduki al lingvo, kiu ne estas en ĉi tiu listo? Bonvolu <a href="{% url 'contact' %}">kontakti nin</a>.
		{% endif %}
	</div>
	<div class="col">
		<h2>Lastaj agadoj</h2>
		<div class="card mt-4">
			<div class="card-body last-activities">
				{% for date, activities in last_activities.items %}
				<h4>{{ date }}</h4>
				<ul>
					{% for activity in activities %}
					<li>
						<b lang="{{ activity.language__code }}">{{ activity.language__name }}</b><br>
						{% if activity.action == ACTION_TYPE_TRANSLATE %}
							{% user_link activity.user__pk activity.user__username %} tradukis {{ activity.words_sum }} vorto(j)n.
						{% elif activity.action == ACTION_TYPE_EDIT %}
							{% user_link activity.user__pk activity.user__username %} redaktis {{ activity.strings }} ĉeno(j)n.
						{% elif activity.action == ACTION_TYPE_ADD %}
							{% user_link activity.user__pk activity.user__username %} aldonis {{ activity.words_sum }} vorto(j)n.
						{% elif activity.action == ACTION_TYPE_IMPORT %}
							{% user_link activity.user__pk activity.user__username %} importis {{ activity.words_sum }} vorto(j)n.
						{% endif %}
					</li>
					{% endfor %}
				</ul>
				{% endfor %}
			</div>
		</div>
	</div>
</div>


{% if not is_project_admin and not project.locked %}
<div class="modal fade" id="translatorRequestModal" tabindex="-1" aria-labelledby="translatorRequestModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="{% url 'request_translator_permission' project.pk %}" method="post">
				<div class="modal-header">
					<h5 class="modal-title" id="translatorRequestModalLabel">Peti permeson por traduki</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Fermi">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p id="requestResult"></p>
					<div class="form-group" id="requestFields">
						{% csrf_token %}
						<p>Vi petas permeson traduki al la lingvo: <strong><span id="requestLanguageName">xx</span> (<span id="requestLanguageCode">xx</span>)</strong>.</p>
						<label for="explanation">Bonvolu skribi kelkajn vortojn pri vi:</label>
						<textarea name="explanation" id="explanation" rows="6" class="form-control" required></textarea>
					</div>
					<input type="hidden" name="language" id="requestLanguageCodeInput">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermi</button>
					<input type="submit" class="btn btn-primary" value="Sendi" id="requestSubmit">
				</div>
			</form>
		</div>
	</div>
</div>
{% endif %}

{% endblock %}

