{% extends 'wide-page.html' %}
{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}Traduko de {{ project.name }}{% endblock %}
{% block pagetitle %}Traduko de <a href="{% url 'project' project.pk %}">{{ project.name }}</a>{% endblock %}

{% block head %}
{% for file in css_files %}
	{% if file.prefetch %}
	<link href="{% static 'traduko/vue-translation-interface/css/'|add:file.filename %}" rel="prefetch">
	{% else %}
	<link href="{% static 'traduko/vue-translation-interface/css/'|add:file.filename %}" rel="preload" as="style">
	<link href="{% static 'traduko/vue-translation-interface/css/'|add:file.filename %}" rel="stylesheet">
	{% endif %}
{% endfor %}

{% for file in js_files %}
	{% if file.prefetch %}
	<link href="{% static 'traduko/vue-translation-interface/js/'|add:file.filename %}" rel="prefetch">
	{% else %}
	<link href="{% static 'traduko/vue-translation-interface/js/'|add:file.filename %}" rel="preload" as="script">
	{% endif %}
{% endfor %}
{% endblock %}

{% block js %}
{% for file in js_files %}
	{% if not file.prefetch %}
	<script src="{% static 'traduko/vue-translation-interface/js/'|add:file.filename %}"></script>
	{% endif %}
{% endfor %}
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb main-breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'projects' %}">Ĉefpaĝo</a></li>
		<li class="breadcrumb-item"><a href="{% url 'project' project.pk %}">{{ project.name }}</a></li>
		<li class="breadcrumb-item active" aria-current="page">Traduki</li>
	</ol>
</nav>

<noscript>
	JavScript devas esti ŝaltita por funkciigi la tradukinterfacon.
</noscript>
<div id="app">
	<div class="loader">…</div>
</div>

<script>
window.vueTranslationInterface = {
	projectId: {{ project.pk }},
	csrf: '{{ csrf }}',
	baseURL: '{% url 'translate_without_language' project.pk %}',
	imgURL: '{{ imgURL }}',
	currentLocale : '{{ LANGUAGE_CODE }}',
	URLprefix : '/{{ LANGUAGE_CODE }}',
	projectLanguage: '{{ project.source_language.code }}',
	availableLanguages: {{ available_languages|safe }},
	userId: {{ user.id }},
	isAdmin: {{ is_admin }},
	globals: {
		TRANSLATION_STATE_TRANSLATED: {{ TRANSLATION_STATE_TRANSLATED }},
		TRANSLATION_STATE_UNTRANSLATED: {{ TRANSLATION_STATE_UNTRANSLATED }},
		TRANSLATION_STATE_OUTDATED: {{ TRANSLATION_STATE_OUTDATED }},
		STATE_FILTER_ALL: '{{ STATE_FILTER_ALL }}',
		STATE_FILTER_UNTRANSLATED: '{{ STATE_FILTER_UNTRANSLATED }}',
		STATE_FILTER_OUTDATED: '{{ STATE_FILTER_OUTDATED }}',
		STATE_FILTER_OUTDATED_UNTRANSLATED: '{{ STATE_FILTER_OUTDATED_UNTRANSLATED }}',
		SORT_STRINGS_BY_NEWEST: '{{ SORT_STRINGS_BY_NEWEST }}',
		SORT_STRINGS_BY_OLDEST: '{{ SORT_STRINGS_BY_OLDEST }}',
		SORT_STRINGS_BY_NAME: '{{ SORT_STRINGS_BY_NAME }}',
	}
};
</script>
{% endblock %}

