{% extends 'normal-page.html' %}
{% load crispy_forms_tags %}

{% block title %}Ensaluti{% endblock %}
{% block pagetitle %}Ensaluti{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb main-breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'projects' %}">Ĉefpaĝo</a></li>
		<li class="breadcrumb-item active" aria-current="page">Ensaluti</li>
	</ol>
</nav>
<form method="post" class="small-form">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Ensaluti" class="btn btn-primary">
    <p class="mt-3">Ĉu forgesis vian pasvorton? <a href="{% url 'password_reset' %}">Reakiru ĝin ĉi tie.</a></p>
    <p class="mt-3">Ĉu vi ne havas konton? <a href="{% url 'register' %}">Aliĝu nun!</a></p>
</form>

{% endblock %}