{% extends 'normal-page.html' %}

{% block title %}Pasvorto sukcese ŝanĝita{% endblock %}
{% block pagetitle %}Pasvorto sukcese ŝanĝita{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb main-breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'projects' %}">Ĉefpaĝo</a></li>
		<li class="breadcrumb-item"><a href="{% url 'user_settings' %}">Agordoj</a></li>
		<li class="breadcrumb-item"><a href="{% url 'password_change' %}">Ŝanĝi mian pasvorton</a></li>
		<li class="breadcrumb-item active" aria-current="page">Pasvorto sukcese ŝanĝita</li>
	</ol>
</nav>
<p class="alert alert-success">
	Via pasvorto estis sukcese ŝanĝita.
</p>

{% endblock %}