{% extends 'normal-page.html' %}
{% load i18n traduko_tags %}
{% block title %}{% translate 'structure#password-reset' %}{% endblock %}
{% block pagetitle %}{% translate 'structure#password-reset' %}{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb main-breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'projects' %}">{% translate 'structure#home' %}</a></li>
		<li class="breadcrumb-item active" aria-current="page">{% translate 'structure#password-reset' %}</li>
	</ol>
</nav>
<p class="alert alert-success">
	{% translate 'password#message-sent' %}
</p>

{% endblock %}