{% extends 'normal-page.html' %}

{% block title %}Reakiri pasvorton{% endblock %}
{% block pagetitle %}Reakiti pasvorton{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb main-breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'projects' %}">Ĉefpaĝo</a></li>
		<li class="breadcrumb-item active" aria-current="page">Reakiti pasvorton</li>
	</ol>
</nav>
<p class="alert alert-success">
	Mesaĝo kun instrukcioj estis sendita al via retpoŝtadreso. Se vi ricevas nenion, certiĝu, ke vi enmetis la ĝustan adreson kaj ke vi havas konton.
</p>

{% endblock %}