{% extends 'normal-page.html' %}
{% load crispy_forms_tags %}

{% block title %}Reakiri pasvorton{% endblock %}
{% block pagetitle %}Reakiti pasvorton{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb main-breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'projects' %}">Ĉefpaĝo</a></li>
		<li class="breadcrumb-item active" aria-current="page">Reakiti pasvorton</li>
	</ol>
</nav>
<p>Ĉu vi forgesis vian pasvorton? Skribu vian retadreson ĉi tie kaj ni sendos al vi instrukciojn.</p>
<form method="post" class="small-form">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Sendi al mi instrukciojn" class="btn btn-primary">
</form>

{% endblock %}