{% extends 'normal-page.html' %}
{% load crispy_forms_tags %}

{% block title %}Ŝanĝi mian pasvorton{% endblock %}
{% block pagetitle %}Ŝanĝi mian pasvorton{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb main-breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'projects' %}">Ĉefpaĝo</a></li>
		<li class="breadcrumb-item"><a href="{% url 'user_settings' %}">Agordoj</a></li>
		<li class="breadcrumb-item active" aria-current="page">Ŝanĝi mian pasvorton</li>
	</ol>
</nav>
<p>Bonvolu entajpi vian nunan pasvorton pro sekureco, kaj vian novan pasvorton dufoje, por certiĝi, ke vi tajpis ĝin ĝuste.</p>
<form method="post" class="small-form">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Ŝanĝi mian pasvorton" class="btn btn-primary">
</form>

{% endblock %}