{% extends 'normal-page.html' %}

{% block title %}{{ current_user.username }}{% endblock %}
{% block pagetitle %}{{ current_user.username }}{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb main-breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'projects' %}">Ĉefpaĝo</a></li>
		<li class="breadcrumb-item active" aria-current="page">{{ current_user.username }}</li>
	</ol>
</nav>
<h2>Projektoj, en kiuj partoprenas la uzanto {{ current_user.username }}</h2>
{% if projects %}
<ul>
	{% for project in projects %}
		<li><a href="{% url 'project' project.pk %}">{{ project.name }}</a></li>
	{% endfor %}
</ul>
{% else %}
<p>{{ current_user.username }} ankoraŭ ne komencis traduki.</p>
{% endif %}
{% endblock %}