{% extends 'normal-page.html' %}
{% load crispy_forms_tags %}
{% block title %}Agordoj{% endblock %}
{% block pagetitle %}Agordoj{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb main-breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'projects' %}">Ĉefpaĝo</a></li>
		<li class="breadcrumb-item active" aria-current="page">Agordoj</li>
	</ol>
</nav>
<form action="" method="post">
	{% csrf_token %}
	{{ form|crispy }}
	<input type="submit" value="Konservi" class="btn btn-primary">
</form>

{% endblock %}

