{% extends 'normal-page.html' %}
{% load crispy_forms_tags i18n traduko_tags %}
{% block title %}{% translate 'structure#settings' %}{% endblock %}
{% block pagetitle %}{% translate 'structure#settings' %}{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb main-breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'projects' %}">{% translate 'structure#home' %}</a></li>
		<li class="breadcrumb-item active" aria-current="page">{% translate 'structure#settings' %}</li>
	</ol>
</nav>
<p>
	<a href="{% url 'password_change' %}" class="btn btn-secondary">{% translate 'structure#change-password' %}</a>
</p>
<form action="" method="post">
	{% csrf_token %}
	{{ form|crispy }}
	<input type="submit" value="{% translate 'structure#save' %}" class="btn btn-primary">
</form>

{% endblock %}

