{$LOCAL_HOST} {
	handle /static/traduko/vue-translation-interface/* {
		reverse_proxy vue:5173
	}
	handle {
		reverse_proxy django:8000 {
			header_up X-Real-IP {remote}
		}
	}
}
{$LOCAL_HOST}:24678 {
	handle {
		reverse_proxy vue:24678
	}
}
