{% load traduko_tags %}
<div class="text-center mt-3 mb-2">
	<button class="toggleDeletedText btn btn-secondary btn-sm">Montri/kaŝi forigitajn partojn de tekstoj</button>
</div>

{% for version in versions %}
<div class="old-version">
	{% if version.pluralized %}
		{% for number, text in version.comparison.items %}
			<div class="plural-number-explanation">Se la nombro estas {{ number }}:</div>
			<p>{{ text|safe }}</p>
		{% endfor %}
	{% else %}
		<p>{{ version.comparison|dict_key:'1'|safe }}</p>
	{% endif %}
	<hr class="my-2">
	{{ version.create_date }}
	{% if version.current %}
		(nuna versio)
	{% endif %}
	{% if version.translated_by %}
		– <a href="{% url 'profile' version.translated_by.pk %}">{{ version.translated_by.username }}</a>
	{% endif %}
</div>
{% endfor %}