{% load traduko_tags %}
<div class="translated-text">
	{% if str.original_text.pluralized %}
		{% for i in language.nplurals|range %}
			{% with plural_example=language.plural_examples_list|list_index:i %}
			<div class="plural-number-explanation">Se la nombro estas {{ plural_example }}:</div>
			<div>{{ str.translated_text.pluralized_text_dictionary|dict_key:plural_example }}</div>
			{% endwith %}
		{% endfor %}
	{% else %}
		{{ str.translated_text.text }}
	{% endif %}
</div>
<div class="text-center">
	<button class="btn btn-secondary translate-button mb-2" tabindex="{{ forloop.counter }}">Redakti</button>
</div>
{% include 'traduko/translation/translation-form.html' %}
{% include 'traduko/translation/author-and-history.html' with string=str.translated_text %}
