{% load i18n traduko_tags %}
<p>{% blocktranslate asvar greeting %}emails#greeting{% endblocktranslate %}{% format_translation greeting translator.username %}</p>
<p>{% blocktranslate asvar comment1 %}emails/comment#comment1{% endblocktranslate %}{% format_translation comment1 project.name %}</p>
<p>{% blocktranslate asvar comment2 %}emails/comment#comment2{% endblocktranslate %}{% format_translation comment2 url %}</p>
<p>{% translate 'emails#closing' %}</p>
<p>{% translate 'emails#signature' %}</p>
<p>{% blocktranslate asvar opt_out %}emails#opt-out{% endblocktranslate %}{% format_translation opt_out settings_url %}</p>