{% load i18n traduko_tags %}
<p>{% blocktranslate asvar greeting %}emails#greeting{% endblocktranslate %}{% format_translation greeting translator.username %}</p>
{% with lang=language.name|add:" ("|add:language.code|add:")" %}
<p>{% blocktranslate asvar accepted %}emails/request#accepted{% endblocktranslate %}{% format_translation accepted project.name lang %}</p>
{% endwith %}
<p>{% blocktranslate asvar start_translating %}emails/request#start-translating{% endblocktranslate %}{% format_translation start_translating url %}</p>
<p>{% translate 'emails#closing' %}</p>
<p>{% translate 'emails#signature' %}</p>